@* For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860 *@
@model ProductVM

<!-- Back Button -->
<a asp-controller="Product" asp-action="Index" class="btn btn-secondary">
    <i class="bi bi-arrow-left-circle fs-2"></i>
</a>

<div class=" card shadow border-0 mt-4">
    <div class ="card-header bg-secondary bg-gradiant ml-0 py-3"> 
        <div class="row">
            <div class="col-12 text-center">
                <h2 class="text-white  py-2"> @(Model.Product.Id!=0?"Update":"Create")Product</h2>
            </div>

        </div>

    </div>
</div>
<div class="card-body p-4">

    <!-- Form for Adding Category -->
    <form method="post" class="row" enctype="multipart/form-data">
        <input asp-for ="Product.Id" hidden />
        <input asp-for="Product.ImageUrl" hidden />
        <div class=" row">
            <div class="col-10">
                @Html.AntiForgeryToken()
                <div class="border p-3 ">
                    <div class="row pb-2">
                    </div>
                    <div class="form-floating py-2 col-12">
                        <input asp-for="Product.Name" class="form-control border-0 shadow" type="text" />
                        <label asp-for="Product.Name" class="ms-2"></label>
                        <span asp-validation-for="Product.Name" class="text-danger"></span>
                    </div>
                    <div class="form-floating py-2 col-12">
                        <textarea id="tiny" asp-for="Product.Description" type="text" class="form-control border-0 shadow"></textarea>
                        <label asp-for="Product.Description" class="ms-2"></label>

                    </div>

                    <div class="form-floating py-2 col-12">
                        <input asp-for="Product.ProductId" type="text" class="form-control border-0 shadow" />
                        <label asp-for="Product.ProductId" class="ms-2"></label>
                        <span asp-validation-for="Product.ProductId" class="text-danger"></span>
                    </div>
                    <div class="form-floating py-2 col-12">
                        <input asp-for="Product.supplier" type="text" class="form-control border-0 shadow" />
                        <label asp-for="Product.supplier" class="ms-2"></label>
                        <span asp-validation-for="Product.supplier" class="text-danger"></span>
                    </div>
                    <div class="form-floating py-2 col-12">
                        <input asp-for="Product.ListPrice" type="text" class="form-control border-0 shadow" />
                        <label asp-for="Product.ListPrice" class="ms-2"></label>
                        <span asp-validation-for="Product.ListPrice" class="text-danger"></span>
                    </div>
                    <div class="form-floating py-2 col-12">
                        <select asp-for="@Model.Product.CategoryId" asp-items="@Model.CategoryList" class="form-select border-0 shadow">
                            <option disabled selected>--Select Category--</option>
                        </select>
                        <label asp-for="Product.CategoryId" class="ms-2"></label>
                        <span asp-validation-for="Product.CategoryId" class="text-danger"></span>
                    </div>
                    <div class="form-floating py-2 col-12">
                        <input type="file" name="file" class="form-control border-0 shadow" />
                        <label asp-for="Product.ImageUrl" class="ms-2"></label>

                    </div>

                    <div class="row pt-2">
                        @if (Model.Product.Id != 0)
                        {
                            <button type="submit" class="btn btn-primary" style="width:150px">Update</button>
                        }
                        else
                        {
                            <button type="submit" class="btn btn-primary" style="width:150px">Create</button>
                        }

                    </div>

                </div>
            </div>
            <div class="col-2">
                <img src="@Url.Content(Model.Product.ImageUrl)"
                     width="100%"
                     style="border-radius:5px; border:1px solid #bbb9b9;" />
            </div>
        </div>
      
    </form>

</div>
@section Scripts{
    <script>
        tinymce.init({
            selector: 'textarea#tiny'
        });
    </script>
}



